<div class="center hero-unit">
<h1> 亲，欢迎来吐槽</h1>

<h2>
  This is the home page for Michael's
  <a href="http://ruby.act.buaa.edu.cn"> Twiter</a>
  sample application.
</h2>

<%=link_to"麻溜注册!",signup_path,class:"btn-btn-large btn-primary"%>
</div>

<%= link_to image_tag("rails.jpeg", alt: "Rails") %>
